@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&family=Open+Sans&family=Poppins:wght@300;400;700&display=swap");


* {
  overflow-wrap: break-word;
}


body {
  background-color: rgb(253, 253, 253);
}

main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  place-items: center;
  margin-left: 0.4rem;
  gap:1rem;
}

.diary {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid rgba(128, 128, 128, 0.207);
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  color: black;
}


a {
  text-decoration: none;
}

.diary:hover {
  opacity: 0.8;
  background-color: rgba(0,0,0,0.2);
  border: 2px solid rgba(128, 128, 128, 0.1);

}

.diary h2 {
  font-family: "Golos Text", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.diary p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.diary-page h1 {
  font-family: "Golos Text", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: black;
}

.diary-page pre {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0.25rem;
  color: black;
}

.not-found{
  font-family: "Golos Text", sans-serif;
  text-align: center;
  display:flex;
  flex-direction: column;
}